/*
Copyright - 2017 2022 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v1.0.0:
		- created
	- v4.0.0:
		- Issue ♯47 : Review the mouseUI
Doc reviewed 20220827
*/

#TravelNotes-MouseUI {
	position: absolute;
	top: 0;
	left: calc(50% - 10em);
	z-index: 800;
	text-align: center;
	width: 20em;
	background-color: white;
	opacity: 0.5;
	padding-left: 0.3em;
	padding-right: 0.3em;
	transition: all 1.5s ease;
}

#TravelNotes-MouseUI:hover {
	opacity: 1;
	transition: all 1.5s ease;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
