/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

.travelnotes-base-dialog-dialog-container {
	z-index: 800;
	position: absolute;
	background-color: white;
	border-style: solid;
	border-width: 0.1em;
	cursor: default;
	max-width: 90vw;
	max-height: 90vh;
	box-shadow: 0 1mm 4mm rgb(0 0 0 / 80%);
	display: flex;
	flex-direction: column;
}

.travelnotes-base-dialog-top-bar {
	background-color: lightgray;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}

.travelnotes-base-dialog-top-bar:hover {
	background-color: darkred;
	color: white;
}

.travelnotes-base-dialog-top-bar:hover,
.travelnotes-base-dialog-top-bar:active {
	cursor: grab;
}

.travelnotes-dockable-base-dialog-on-top > .travelnotes-base-dialog-top-bar {
	background-color: black;
	color: white;
}

.travelnotes-base-dialog-cancel-button {
	background-color: white;
	width: 1.5em;
	text-align: center;
	display: inline-block;
}

.travelnotes-base-dialog-cancel-button:hover {
	cursor: default;
}

.travelnotes-base-dialog-title {
	display: inline-block;
	font-weight: bold;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.travelnotes-base-dialog-toolbar-container,
.travelnotes-base-dialog-content-container,
.travelnotes-modal-base-dialog-error-container,
.travelnotes-modal-base-dialog-wait-container,
.travelnotes-modal-base-dialog-footer-container {
	padding: 0.5em;
}

.travelnotes-base-dialog-content-container {
	margin-top: 1em;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: lightgray;
	border-width: 0.1em;
	overflow-y: auto;
	flex-grow: 1;
}

.travelnotes-modal-base-dialog-error-container {
	background-color: red;
	color: white;
}

.travelnotes-base-dialog-flex-row {
	display: flex;
	flex-direction: row;
	margin-top: 0.3em;
}

.travelnotes-base-dialog-button {
	display: inline-block;
	width: 2em;
	text-align: center;
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
}

.travelnotes-base-dialog-button:hover {
	border-color: black;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
