/*
Copyright - 2017 2022 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- Created
Doc reviewed 20220821
*/

.TravelNotes-BaseToolbar-ToolbarHTMLElement {
	position: absolute;
	width: 3em;
	height: auto;
	max-height: 100vh;
	z-index: 800;
	font-weight: bold;
}

.TravelNotes-BaseToolbar-TopLeft {
	top: 0;
	left: 0;
}

.TravelNotes-BaseToolbar-TopRight {
	top: 0;
	right: 0;
}

.TravelNotes-BaseToolbar-HeaderHTMLElement {
	text-align: center;
	width: 2em;
	height: 8em;
	color: white;
	background-color: black;
	padding: 0.5em;
}

.TravelNotes-BaseToolbar-HeaderTextHTMLElement {
	transform-origin: center;
	transform: rotateZ(-90deg) translateX(-6em);
	margin: 0;
	padding: 0;
	text-align: center;
	white-space: nowrap;
}

.TravelNotes-BaseToolbar-ButtonsHTMLElement {
	background-color: white;
	color: black;
	overflow-y: hidden;
	max-height: calc(100vh - 15em);
}

.TravelNotes-BaseToolbar-ButtonHTMLElement {
	padding: 0.5em;
	text-align: center;
	height: 1.1em;
}

.TravelNotes-BaseToolbar-ButtonHTMLElement:hover {
	background-color: black;
	color: white;
}

.TravelNotes-BaseToolbar-ButtonLinkHTMLElement {
	text-decoration: none;
	color: black;
}

.TravelNotes-BaseToolbar-ButtonLinkHTMLElement:hover {
	color: white;
}

.TravelNotes-BaseToolbar-ButtonHTMLElement:hover > .TravelNotes-BaseToolbar-ButtonLinkHTMLElement {
	color: white;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
