/*
Copyright - 2017 2022 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
--- BaseToolbarUI.css file --------------------------------------------------------------------------------------------

This file contains:
	- the css for the BaseToolbarUI
Changes:
	- v4.0.0:
		- Created
-----------------------------------------------------------------------------------------------------------------------
*/

.TravelNotes-ToolbarUI-ToolbarHTMLElement {
	position: absolute;
	width: 3em;
	height: auto;
	max-height: 100vh;
	z-index: 800;
}

.TravelNotes-ToolbarUI-TopLeft {
	top: 0;
	left: 0;
}

.TravelNotes-ToolbarUI-TopRight {
	top: 0;
	right: 0;
}

.TravelNotes-ToolbarUI-Header {
	transform-origin: bottom right;
	transform: rotateZ(-90deg) translateY(-6em) translateX(3em);
	text-align: center;
	width: 8em;
	height: 2em;
	font-size: 1em;
	font-weight: bold;
	color: white;
	background-color: black;
	padding: 0.5em;
	margin: 0;
}

.TravelNotes-ToolbarUI-Buttons {
	background-color: white;
	color: black;
	overflow: hidden;
}

.TravelNotes-ToolbarUI-Button {
	padding: 0.5em;
	text-align: center;
	margin: 0;
	font-weight: bold;
	height: 1.1em;
}

.TravelNotes-ToolbarUI-Button:hover {
	background-color: black;
	color: white;
}

.TravelNotes-ToolbarUI-Link {
	text-decoration: none;
	color: black;
}

.TravelNotes-ToolbarUI-Link:hover {
	color: white;
}

.TravelNotes-ToolbarUI-Button:hover > .TravelNotes-ToolbarUI-Link {
	color: white;
}
