/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

/*
Menu on top of screen and always there
*/

#travelnotes-roadbook-menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 200;
}

.travelnotes-roadbook-button {
	display: inline;
	width: 2em;
	border: 0.1em solid white;
	padding: 0.5em;
}

.travelnotes-roadbook-button:hover {
	border: 0.1em solid black;
}

/*
Arrow in the menu
*/

#travelnotes-roadbook-go-top > a {
	color: black;
	text-decoration: none;
}

.travelnotes-roadbook-travel-notes,
.travelnotes-roadbook-route-maneuvers-and-notes {
	margin-top: 1em;
	margin-bottom: 2em;
}

@media screen and (width <= 320px) {
	body {
		margin: 0;
		padding: 0;
	}

	#travelnotes-roadbook-menu {
		position: static;
	}

	.travelnotes-roadbook-travel {
		margin-right: 0;
		margin-left: 0;
	}

	.travelnotes-roadbook-note-html-url {
		overflow: hidden;
	}
}

@media screen and (width >= 321px) and (width <= 1023px) {
	.travelnotes-roadbook-travel {
		padding-top: 4em;
	}

	#travelnotes-roadbook-menu {
		padding: 0.5em;
		border-style: solid;
		border-width: 0.1em;
		margin-left: 0.5em;
	}

	#travelnotes-roadbook-menu > div {
		display: inline-block;
	}
}

@media screen and (width >= 768px) and (resolution <= 200dpi),
	screen and (width >= 1600px) and (resolution >= 200dpi),
	print {
	#travelnotes-roadbook-buttons-container {
		margin-top: 1em;
	}

	.travelnotes-roadbook-travel {
		width: 19.2cm;
		margin-left: auto;
		margin-right: auto;
	}

	.travelnotes-big-notes .travelnotes-roadbook-travel-notes-row,
	.travelnotes-big-notes .travelnotes-roadbook-route-maneuvers-row,
	.travelnotes-big-notes .travelnotes-roadbook-route-notes-row {
		border-bottom-style: solid;
		border-bottom-width: 0.1em;
		padding-top: 1em;
		padding-bottom: 1em;
		display: flex;
		flex-direction: row;
	}

	.travelnotes-big-notes .travelnotes-roadbook-travel-notes-icon-cell,
	.travelnotes-big-notes .travelnotes-roadbook-route-maneuvers-and-notes-icon-cell {
		background-repeat: no-repeat;
		vertical-align: top;
		flex-shrink: 0;
	}

	.travelnotes-big-notes .travelnotes-roadbook-travel-notes-cell,
	.travelnotes-big-notes .travelnotes-roadbook-route-maneuvers-and-notes-cell {
		padding-left: 0.5em;
		flex-shrink: 2;
	}

	.travelnotes-small-notes .travelnotes-roadbook-route-maneuvers-and-notes-icon-cell {
		border-style: solid;
		border-color: black;
		border-width: 0.1em;
	}

	.travelnotes-small-notes .travelnotes-svg-icon {
		border-style: none;
	}

	.travelnotes-small-notes .travelnotes-roadbook-route-maneuvers-and-notes {
		display: grid;
		grid-template-columns: repeat(3, 6.4cm);
	}
}

@media print {
	#travelnotes-roadbook-menu {
		visibility: hidden;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		border-width: 0;
		border-style: none;
	}

	.travelnotes-roadbook-route-header {
		break-before: page;
	}

	.travelnotes-roadbook-travel-notes-row,
	.travelnotes-roadbook-route-maneuvers-row,
	.travelnotes-roadbook-route-notes-row {
		break-inside: avoid-page;
	}
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
