/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

#travelnotes-note-dialog-icon-selector {
	margin-right: 0.2em;
}

.travelnotes-note-dialog-editor-button {
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
	margin: 0.1em;
	padding: 0.1em;
}

.travelnotes-note-dialog-editor-button span {
	padding-right: 0.2em;
	padding-left: 0.2em;
}

.travelnotes-note-dialog-editor-button:hover {
	border-color: black;
}

.travelnotes-note-dialog-input-text {
	width: 100%;
}

.travelnotes-note-dialog-number-input {
	margin-right: 0.5em;
	width: 3em;
}

.travelnotes-note-dialog-data-container > .travelnotes-base-dialog-button {
	margin-right: 0.5em;
}

.travelnotes-note-dialog-preview-container > div {
	margin-top: 1em;
	padding-top: 1em;
	border-top-style: solid;
	border-top-width: 0.1em;
	display: flex;
	flex-direction: row;
	background-color: lightgray;
}

.travelnotes-note-dialog-travel-notes-icon-cell {
	min-height: 20px;
	background-repeat: no-repeat;
	flex-shrink: 0;
	margin-left: auto;
	background-color: white;
}

.travelnotes-note-dialog-travel-notes-cell {
	padding: 0.3em;
	flex-shrink: 1;
	border-style: solid;
	border-width: 0.1em;
	margin-left: 1em;
	margin-right: auto;
	max-width: calc(43em - 40px);
	max-height: 11em;
	overflow: auto;
	background-color: white;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
