/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

/**
@------------------------------------------------------------------------------------------------------------------------------

Notes popup on the map

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-map-note-html-tooltip-content {
	font-weight: bold;
}

.travelnotes-map-note-html-lat-lng > span,
.travelnotes-map-note-html-address > span:first-child,
.travelnotes-map-note-html-phone > span:first-child,
.travelnotes-map-note-html-url > span:first-child,
.travelnotes-map-note-html-distance > span:first-child,
.travelnotes-map-note-html-next-distance > span:first-child,
.travelnotes-map-note-html-address-city {
	text-decoration: underline;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.travelnotes-map-all-notes ( the .travelnotes-map-all-notes class is added to the L.divIcon when created )

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-map-all-notes {
	background: transparent;
	height: auto;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.travelnotes-map-note-background ( This class is added to the 80 predefined notes and svgIcons when a background is asked )

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-map-note-background {
	background-color: white;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.travelnotes-map-note-bullet ( This class is added to the bullet of the note )

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-map-note-bullet {
	background-color: black;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
