/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

.travelnotes-roadbook-route-maneuver-tooltip-cntent,
.travelnotes-roadbook-note-html-tooltip-content {
	font-weight: bold;
}

.travelnotes-big-notes .travelnotes-roadbook-note-html-lat-lng > span,
.travelnotes-big-notes .travelnotes-roadbook-note-html-address > span:first-child,
.travelnotes-big-notes .travelnotes-roadbook-note-html-phone > span:first-child,
.travelnotes-big-notes .travelnotes-roadbook-note-html-url > span:first-child,
.travelnotes-big-notes .travelnotes-roadbook-note-html-travel-distance > span:first-child,
.travelnotes-big-notes .travelnotes-roadbook-note-html-route-distance > span:first-child,
.travelnotes-big-notes .travelnotes-roadbook-note-html-next-distance > span:first-child,
.travelnotes-big-notes .travelnotes-roadbook-note-html-address-city {
	text-decoration: underline;
}

.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-travel-distance::before,
.travelnotes-small-notes .travelnotes-roadbook-note-html-travel-distance::before {
	content: "🡸";
}

.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-route-distance::before,
.travelnotes-small-notes .travelnotes-roadbook-note-html-route-distance::before {
	content: "🢤";
}

.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-next-distance::before,
.travelnotes-small-notes .travelnotes-roadbook-note-html-next-distance::before {
	content: "🡺";
}

.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-instruction,
.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-travel-distance > span:first-child,
.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-route-distance > span:first-child,
.travelnotes-small-notes .travelnotes-roadbook-route-maneuver-next-distance > span:first-child,
.travelnotes-small-notes .travelnotes-roadbook-note-html-popup-content,
.travelnotes-small-notes .travelnotes-roadbook-note-html-lat-lng,
.travelnotes-small-notes .travelnotes-roadbook-note-html-address,
.travelnotes-small-notes .travelnotes-roadbook-note-html-phone,
.travelnotes-small-notes .travelnotes-roadbook-note-html-url,
.travelnotes-small-notes .travelnotes-roadbook-note-html-travel-distance > span:first-child,
.travelnotes-small-notes .travelnotes-roadbook-note-html-route-distance > span:first-child,
.travelnotes-small-notes .travelnotes-roadbook-note-html-next-distance > span:first-child,
.travelnotes-small-notes .travelnotes-roadbook-note-html-address-city {
	display: none;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	border-width: 0;
	border-style: none;
	animation: none;
	visibility: hidden;
	transform: scale(0);
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
