/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

/**
@------------------------------------------------------------------------------------------------------------------------------

.travelnotes-map-note ( The 80 predefined notes have the .travelnotes-map-note class )

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-maneuver-note,
.travelnotes-map-note {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

.travelnotes-svg-icon ( All svg icons have the .travelnotes-svg-icon class )

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-svg-icon {
	border-style: solid;
	border-color: black;
	border-width: 0.1em;
}

/**
@------------------------------------------------------------------------------------------------------------------------------

classes for color span created with buttons in the NoteDialog

@------------------------------------------------------------------------------------------------------------------------------
*/

.travelnotes-note-white-red {
	color: white;
	background-color: red;
}

.travelnotes-note-white-green {
	color: white;
	background-color: green;
}

.travelnotes-note-white-blue {
	color: white;
	background-color: blue;
}

.travelnotes-note-white-brown {
	color: white;
	background-color: brown;
}

.travelnotes-note-white-black {
	color: white;
	background-color: black;
}

.travelnotes-note-black-white {
	color: black;
	background-color: white;
	border: solid 0.1em;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
