/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

.travelnotes-route-view-container {
	margin-top: 5mm;
	margin-left: auto;
	margin-right: auto;
	break-after: always;
	break-inside: avoid;
}

#travelnotes-print-toolbar {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1em;
	padding: 0.5em;
	z-index: 1000;
	border-style: solid;
	border-width: 0.1em;
	background-color: white;
}

@media print {
	body.travelnotes-maps-firefox-browser {
		display: grid;
		grid-template-columns: 1fr;
	}

	.travelnotes-route-view-container {
		margin: auto;
	}

	#travelnotes-print-toolbar {
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		visibility: hidden;
	}
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
