/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

.travelnotes-route-svg-profile-container {
	background-color: white;
	margin: 1em;
}

.travelnotes-route-svg-profile-profile-polyline {
	fill: none;
	stroke: red;
	stroke-width: 3;
}

.travelnotes-route-svg-profile-marker-polyline,
.travelnotes-route-svg-profile-frame-polyline {
	fill: none;
	stroke: black;
	stroke-width: 1;
}

.travelnotes-route-svg-profile-elev-text {
	fill: black;
	font-size: 1.8em;
	font-weight: bold;
}

.travelnotes-route-svg-profile-elev-legend,
.travelnotes-route-svg-profile-dist-legend {
	fill: black;
	font-size: 1.6em;
	font-weight: bold;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
