/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

.travelnotes-wait-animation {
	margin: 1em;
	height: 1em;
	width: calc(100% - 2em);
	overflow: hidden;
	visibility: visible;
}

.travelnotes-wait-animation-bullet {
	background-color: red;
	height: 100%;
	width: 1em;
	animation: 2s linear 0s infinite alternate wait-animation-bullet;
	visibility: visible;
}

@keyframes wait-animation-bullet {
	from { margin-left: 0%; }
	to { margin-left: calc(100% - 1em); }
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
