/*
Copyright - 2017 2023 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/*
Changes:
	- v4.0.0:
		- created from v3.6.0
Doc reviewed 202208
 */

.travelnotes-base-toolbar-container {
	position: absolute;
	width: 3em;
	height: auto;
	max-height: 100vh;
	z-index: 800;
	font-weight: bold;
}

.travelnotes-base-toolbar-top-left {
	top: 0;
	left: 0;
}

.travelnotes-base-toolbar-top-right {
	top: 0;
	right: 0;
}

.travelnotes-base-toolbar-header {
	text-align: center;
	width: 3em;
	height: 8em;
	color: white;
	background-color: black;
	margin: 0;
	padding: 0;
}

/*
About the transformation:
- width and height are width and height before the transformation
- transformations are applied in the order of the declaration
- more simple to rotate as last transformation
- height will be better fixed to 1.7em and translateX to 0.65em for normal texts but due to the fact
that we don't have letters with descenders in the headers, it's nicer with 1.5 and 0.75.
*/

.travelnotes-base-toolbar-header-text {
	transform-origin: top left;
	transform: translateY(8em) translateX(0.75em) rotateZ(-90deg);
	width: 8em;
	height: 1.5em;
	white-space: nowrap;
}

.travelnotes-base-toolbar-buttons-container {
	background-color: white;
	color: black;
	overflow-y: hidden;
	max-height: calc(100vh - 15em);
}

.travelnotes-base-toolbar-button {
	padding: 0.5em;
	text-align: center;
	height: 1.1em;
}

.travelnotes-base-toolbar-button:hover {
	background-color: black;
	color: white;
}

.travelnotes-base-toolbar-button-link {
	text-decoration: none;
	color: black;
}

.travelnotes-base-toolbar-button-link:hover {
	color: white;
}

.travelnotes-base-toolbar-button:hover > .travelnotes-base-toolbar-button-link  {
	color: white;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
